################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Adress_TestWork
/Lib/LoadData/bin/Debug/net5.0
/Lib/LoadData/obj/Debug/net5.0
/Lib/LoadData/obj
/Adress_TestWork/bin/Debug/net5.0-windows
/Adress_TestWork/obj
/Adress_TestWork/Adress_TestWork.csproj.user
/Lib/SaveData/bin/Debug/net5.0
/Lib/SaveData/obj
/.vs
